<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="UTF-8"/>
		<title> Js PDF -  Ivan A. Hoinacki</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />

		<!-- Arquivo CSS principal -->
		<link href="css/style.css" rel="stylesheet" media="screen" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- font theme -->
		<link rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Arquivo Js PDF -->
		<script src="js/jsPDF/jspdf.min.js"></script>
		<script src="js/jsPDF/jspdf.plugin.from_html.js"></script>
		<script src="js/jsPDF/jspdf.plugin.split_text_to_size.js"></script>
		<script src="js/jsPDF/jspdf.plugin.standard_fonts_metrics.js"></script>

		<!-- Arquivo JQuery e Main  -->
		<script src="js/jquery.min.js"></script>
		<script src="js/main.js"></script>

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
	<!-- Observe o componente irá resgatar o valor da div "content"  -->
	<body ng-app ng-controller="lineEditor">		
		<div id="content">
			<div id="oi"></div>
			<!-- Quando este elemento é clicado, esconde o tooltip -->
			<div id="main" ng-click="hideTooltip()">

				<!-- Este é o tooltip. Ele é mostrado somente quando a variável showtooltip for verdadeira -->
				<div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">

					<!-- ng-model liga os conteúdos do campo de texto com o modelo "value". Qualquer mudança no campo de texto vai automaticamente atualizar o valor, e todas as outras ligações da página que dependam disto  -->

					<input type="text" ng-model="value" />
				</div>

				<!-- Chamando um método definido em lineEditor que alterna a variável showtooltip -->
				<p ng-click="toggleTooltip($event)">
					{{value}}
				</p>
			</div>
		</div>

		<div id="divButton" >
			<button id="btn-pdf" type="bu" class="btn btn-default" >
				Generate PDF
			</button>
		</div>

		<!-- Incluindo o AngularJS from Google's CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</body>
</html>